<div class="hello">
  <h1><%= @message %></h1>

  <p>初めまして、西原と申します。
    <br>よろしくお願いいたします！m(_ _)m</p><br>
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    <%= link_to "ユーザー管理ページへ", users_path %>
  </button>
</div>


<small>© 西原 All rights reserved.</small>
