<h1>詳細情報</h1>
<p><%= @user.name %></p>
<p><%= @user.age %></p>

<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  <%= link_to "一覧画面へ", users_path %>
</button>
